body{
    background-color: #16082f;        /*change 1*/
    margin: 0;
    padding: 0;
    text-align: center;
}
body *{
    margin-bottom: 5vh;
    font-family: Arial,Helvetica,sans-serif; /*change 2*/
    color: #fff38e;                  /*change 3*/

}
h1{
    font-style: italic;               /*change 4*/ 
    padding: 2vh;                     /*change 5*/
}
input[type=text] {
    background-color: #a7043c;     /*change 6*/
    border-radius: 10px;             /*change 7*/
    text-align: center;              /*change 8*/
}
button.convert{
    background: #a7043c;          /*change 9*/
    border-radius: 25px;            /*change 10*/
    padding: 5px;                   /*change 11*/
    border-style: double;           /*change 12*/
}