body{
    background-image: url('../img/weather.jpg'); /*change 1*/
    background-size: cover;        /*change 2*/
    margin: 0;
    padding: 0;
    text-align: center;             /*change 3*/
}

input[type=text] {
    border-radius: 20%;             /*change 4*/
    padding: 5px;                   
    outline: none;
    text-align: center;             /*change 5*/
}
button.convert{
    background: black;          /*change 6*/
    border-radius: 20%;            /*change 7*/    
    border-style: double;           /*change 8*/
    outline: none;                  /*change 9*/
    color: aliceblue;             /*change 10*/
}

.icon {
    min-width: 250px;
    max-width: 250px;
  }
  